-- Script para criar assinatura trial manual
-- Execute este código no Supabase SQL Editor

-- Primeiro, vamos verificar se você já tem uma assinatura
SELECT * FROM public.subscriptions WHERE user_id = auth.uid();

-- Se não tiver nenhuma assinatura, execute este comando:
INSERT INTO public.subscriptions (user_id, plan, start_date, end_date)
SELECT auth.uid(), 'free', now(), now() + interval '3 days'
WHERE NOT EXISTS (
  SELECT 1 FROM public.subscriptions 
  WHERE user_id = auth.uid()
);

-- Verificar se foi criada
SELECT * FROM public.subscriptions WHERE user_id = auth.uid();
